body {
    width: 250px;
    font-family: sans-serif;
    background-color: #F39A61;
    color: #000;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

table, td, th {
  margin: auto auto;
  border: 1px solid black;
  padding: 5px;
}

table {
  border-collapse: collapse;
}

#newlogs {
  text-align: center;
  margin-bottom: 10px;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.red {
  color: red;
}