body {
  font-family: sans-serif;
  margin: auto auto;
  width: 1000px;
  background-color: #6E6E6E;
  font-size: 1.1em;
}

h1 {
  font-weight: bold;
}

a {
  text-decoration: none;
}

table {
  border: none;
}

td {
  padding: 5px;
}

#main {
  margin-top: 1em;
  background-color: #F39A61;
  padding: 4em;
}

.error {
  font-weight: bold;
  font-size: 1.5em;
  color: darkred;
}
